* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background-color: #387373;
}

form {
    margin: 35px auto;
    height: 100%;
    width: 70%;
    background: rgba( 147, 191, 183, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input, textarea {
    background-color: #93BFB7;
    border: none;
    outline: none;
    color: #2D3E40;
    margin: 20px;
    padding: 10px;
    height: 50px;
    width: calc(100% - 20px * 2);
    border-radius: 10px;
}

textarea {
    height: 150px;
    resize: none;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    margin: 10px 0px 0px 0px;
    padding: 0;
}

input[type="submit"] {
    height: 40px;
    width: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

label {
    margin-right: 25px;
}

p {
    margin: 15px 0px 5px 0px;
}

.container {
    display: flex;
}

.submitContainer {
    position: relative;
    height: 80px;
}

.genderContainer {
    width: 40%;
    margin-left: 40px;
}

input:hover, textarea:hover {
    box-shadow: 2px 2px 10px #97A6A0,
    5px 5px 10px #E4F2E7,
    0px 0px 10px #FFFFFF;
}

input:focus, textarea:focus {
    box-shadow: 0px 0px 10px #FFFFFF,
    5px 5px 10px #04BFAD,
    7px 7px 10px #027368;
}